<mat-card>
  <form [formGroup]="formPlayers" (ngSubmit)="startGame($event)">
    <div class="row center-xs">
        <mat-form-field appearance="outline" class="ancho">
            <mat-label>Name Player 1</mat-label>
            <input matInput placeholder="Insert name player1" autocomplete="off" formControlName="name1"> 
            <mat-icon id="player1" matSuffix>fiber_manual_record</mat-icon>
            <mat-error>
              This field is mandatory
            </mat-error>
          </mat-form-field>
    </div>
    <div class="row center-xs">
        <mat-form-field appearance="outline" class="ancho">
            <mat-label>Name Player 2</mat-label>
            <input matInput placeholder="Insert name player2" autocomplete="off" formControlName="name2">
            <mat-icon id="player2" matSuffix>fiber_manual_record</mat-icon>
            <mat-error>
              This field is mandatory
            </mat-error>
          </mat-form-field>
    </div>
    <div class="row center-xs">
      <mat-button-toggle-group  formControlName="nGames" >
        <mat-button-toggle [value]="1">1 Round </mat-button-toggle>
        <mat-button-toggle [value]="3">3 Rounds</mat-button-toggle>
        <mat-button-toggle [value]="5">5 Rounds</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="row end-xs margTop">
      <button mat-raised-button color="primary" type="submit" class="animate__animated animate__pulse animate__infinite">
        <mat-icon class="icon">
          play_arrow
        </mat-icon>
        Start Game
      </button>
    </div>
  </form>
</mat-card>
